<!DOCTYPE html>
<html>
<head>
    <title>Upload Delegates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-4">
        <h1>Upload</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <a href="" class="btn btn-secondary mt-2">Back to List</a>
    </div>
</body>
</html>
